%table#links.table.table-striped

#generator
  = render 'links/form'

= render :partial => 'templates'

- content_for :scripts do
  :javascript
    $(function() {
      var links = new Shortlinks.Collections.LinksCollection();
      links.reset(#{@links.to_json})

      Shortlinks.Tables.links = links;

      window.router = new Shortlinks.Routers.LinksRouter();
      Backbone.history.start();
    });

