%table#links.table.table-striped

#generator
  = render 'links/form'

- content_for :scripts do
  :javascript
    $(function() {
      window.config = { user_id: #{logged_in? ? current_user.id : "null"} };

      var links = new Shortlinks.Collections.LinksCollection();
      links.reset(#{@links.to_json})

      Shortlinks.Tables.links = links;

      window.router = new Shortlinks.Routers.LinksRouter();
      Backbone.history.start();
    });

