<td class='url'>
  <a href='<%= url %>'><%= url %></a>
</td>
<td class='key'>
  <input type='text' name='link[key]' value='<%= key %>'></input>
</td>
<td class='actions'>
  <button class='btn'>Save</button>
  <a href='#' class='cancel'>Cancel</a>
</td>

